<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>管理数据</title>
</head>
<body class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">同步数据</h1>
    <label class="sr-only" >审批</label>
    <input type="text" id="dayApply" class="form-control" placeholder="天数"
           required="" autofocus="">
    <button class="btn btn-lg btn-primary btn-block" id="applyBtn" th:onclick="'javascript:applydoApply(dayApply);'" type="button" >同步</button>
    <br/>
    <label class="sr-only" >日志</label>
    <input type="text" id="daySummary" class="form-control" placeholder="天数"
           required="">
    <button class="btn btn-lg btn-primary btn-block" id="summaryBtn" th:onclick="'javascript:summarydoSummary(daySummary);'" type="button" >同步</button>
   <br/>
    <label class="sr-only" >人员</label>
    <input type="text" id="dayEmployee" class="form-control" placeholder="天数"
           required="">
    <button class="btn btn-lg btn-primary btn-block" id="employeeBtn" th:onclick="'javascript:employeedoEmployee(dayEmployee);'" type="button" >同步</button>
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script  th:inline="none">
        function doSearch(url) {
            $.ajax({
                type:"get",
                url:url,
                async:false,
                success:function (d) {
                    console.log(d);
                    layer.msg(d, { icon: 7, time: 1000, shade: [0.8, '#000', true] });
                },
                error:function (d) {
                    alert(d);
                }
            })
        }
        function applydoApply(params){
            var value=params.value;
            doSearch("/apply/doApply/"+value);
        }
        function employeedoEmployee(params){
            var value=params.value;
            doSearch("/employee/doEmployee/"+value);
        }
        function summarydoSummary(params){
            var value=params.value;
            doSearch("/summary/doSummary/"+value);
        }
    </script>
</body>