<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>申请</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"   media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div class="demoTable">&nbsp;&nbsp;姓名&nbsp;&nbsp;
    <div class="layui-inline">
        <input class="layui-input" name="id" id="applyName" autocomplete="off">
    </div><br/>&nbsp;&nbsp;类型&nbsp;&nbsp;
    <div class="layui-inline">
        <select name="applyTypeName"  class="layui-input select">
            <option value="请假" selected="" >&nbsp;&nbsp;请假&nbsp;&nbsp;</option>
            <option value="补卡" >&nbsp;&nbsp;补卡&nbsp;&nbsp;&nbsp;&nbsp;</option>
        </select>
    </div><br/>&nbsp;&nbsp;子类&nbsp;&nbsp;
    <div class="layui-inline">
        <select name="applySubTypeName"  class="layui-input select">
            <option value="" selected="" ></option>
            <option value="事假" >&nbsp;&nbsp;事假&nbsp;&nbsp;</option>
            <option value="婚假" >&nbsp;&nbsp;婚假&nbsp;&nbsp;</option>
            <option value="病假" >&nbsp;&nbsp;病假&nbsp;&nbsp;</option>
            <option value="产假" >&nbsp;&nbsp;产假&nbsp;&nbsp;</option>
            <option value="公休" >&nbsp;&nbsp;公休&nbsp;&nbsp;</option>
            <option value="丧假" >&nbsp;&nbsp;丧假&nbsp;&nbsp;</option>
            <option value="补卡" >&nbsp;&nbsp;补卡&nbsp;&nbsp;</option>
        </select>
    </div><br/>&nbsp;&nbsp;大于&nbsp;&nbsp;
    <div class="layui-inline">
        <input id="applyDuration" class="layui-input layui-input-number" min="0" max="100" step="1" data-prec="4">
    </div>天<br/>
    <button class="layui-btn" th:onclick="'javascript:search();'">搜索</button>
</div>
<table class="layui-hide" id="test" lay-filter="testFilter"></table>
<div class="layui-carousel" id="picContainer" style="display: none; text-align: center ">
    <div carousel-item="" id="lunbo">
    </div>
</div>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script  th:inline="none">
    function getParams(){
        var applyName=document.getElementById("applyName").value;
        var applyDuration=document.getElementById("applyDuration").value;
        var applyTypeName=$("select[name=applyTypeName]").val();
        var applySubTypeName=$("select[name=applySubTypeName]").val();
        console.log(typeof applyDuration);
        if(applyDuration){
            if(isNaN(applyDuration)){
                layer.msg('请输入数字', { icon: 7, time: 1000, shade: [0.6, '#000', true] });
            }
        }
        return {
            applyName:applyName,
            applyDuration:applyDuration,
            applyTypeName:applyTypeName,
            applySubTypeName:applySubTypeName
        };
    }
    function doSearch(params) {
        layui.table.reload('test', {
            page: {
                curr: 1 //重新从第 1 页开始
            }
            ,where: params
        }, 'data');
    }
    function search(){
        doSearch(getParams());
    }
    layui.use(['table','carousel','laytpl', 'form'], function(){
        var table = layui.table;
        table.render({
            elem: '#test'
            ,url:'/apply/list'
            ,contentType:'application/json'
            ,method:'POST'
            ,limit:8//每页显示的记录数量
            ,limits:[5,8,10,15,20]//可选择每页显示的数量
            ,cols: [[
                {field:'applyName', width:80, title: '姓名'}
                ,{field:'applyTypeName', width:80, title: '类型'}
                ,{field:'applySubTypeName', width:80, title: '子类型'}
                ,{field:'applyReason',width:300,title: '理由'}
                ,{field:'createTime', width:150, title: '申请时间', sort: true}
                ,{field:'applyDuration', width:100, title: '时长（天）'}
                ,{field:'applyStartTimeStr', width:120, title: '开始时间'}
                ,{field:'applyEndTimeStr', width:120, title: '结束时间'}
                ,{field:'statusName', width:80, title: '状态'}
                ,{field:'auditorName', width:80, title: '审批人'}
            ]]
            ,page: true
        });
        var carousel = layui.carousel, form = layui.form;
        //监听行单击事件（双击事件为：rowDouble）
        table.on('row(testFilter)', function(obj){
            var data = obj.data;
            if(data.applyMedia){//显示图片
                layer.open({
                    type: 1,
                    title:data.applyName+"的申请图",
                    skin: 'layui-layer-rim',
                    area: ['250px', '250px'],
                    content: $("#picContainer"),
                    success:function(){
                        var urls = data.applyMedia.split(";");
                        var html='';
                        for (var i=0;i<urls.length;i++){
                            if(urls[i]){
                                console.log(urls[i]);
                                html+='<div style="width:100%; height:100%" ><img src="'+urls[i]+'" style="width: 100%;height: 80%; "   ></div>';
                                $("#lunbo").html(html);
                            }
                        }
                        //先拼接 后加载layui 轮播
                        layui.use('carousel', function(){
                            var carousel = layui.carousel;
                            //建造实例
                            carousel.render({
                                elem: '#picContainer'
                                ,width: '100%' //设置容器宽度
                                ,arrow: 'always' //始终显示箭头
                                //,anim: 'updown' //切换动画方式
                            });
                        });


                    },
                });
            }else{
                var str=data.applyName+"\n\t，"+
                    data.applyTypeName+"\n\t，"+
                    data.applySubTypeName+"\n\t，"+
                    data.applyDuration+"天 \n\t"+
                data.applyReason;
                layer.msg(str, { icon: 7, time: 1000, shade: [0.6, '#000', true] });
            }
            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });
        table.on('rowDouble(testFilter)', function(obj){
            var data = obj.data;
            if(!data.applyMedia){
                layer.msg('没有图片', { icon: 7, time: 1000, shade: [0.6, '#000', true] });
                return;
            }

            //标注选中样式
            //obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });
    });
</script>
</body>

</html>